<div class="list-container">
    <mat-card class="user-card" *ngFor="let user of usersInfo?.data">

        <img class="avatar-user" src={{user.avatar}}>
        <mat-card-title>{{user.first_name}}</mat-card-title>
        <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button color="primary" (click)="moreClick(user)">More About</button>
        </mat-card-actions>
    </mat-card>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" (click)="getUsers(1)">1</a>
        <a href="#" (click)="getUsers(2)">2</a>
        <a href="#">&raquo;</a>
    </div>



</div>