.list-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.user-card {
    width: 180px;
    height:210px;
    margin: 15px;
  }

.avatar-user{
    width:100px;
    height:100px;
    border-radius: 100px;
    margin-bottom: 15px;
}


.pagination {
    display: inline-block;
    margin: 0 auto;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }