<div class="detail-container" *ngIf="userDetail">
  <mat-card class="detail-card">
    <mat-card-header>
      <mat-card-title>{{userDetail.firstName}}</mat-card-title>
      <mat-card-subtitle>{{userDetail.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{userDetail.avatar}}>
    <p>Email : {{userDetail.email}}</p>
  </mat-card>
</div>